h1{

  color: solid;
  text-align: center;
  padding: 100px;
  font-size: 70px;
  color: black;
}  
  header{
  
  background-image: url('headerbackground.jpeg');
  
  
  }
  
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
    color: white;
    font-size: 20px;
  }
  
  .otherheader{
  
    background-image: url('otherheaderbackground.jpg');
  
  }

  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .menu{
    background-image: url("menubackground.jpg");
    background-size: cover;
  }

  

  .item{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    position: relative;
  }
  

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
} 